HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


#Java/Spring ignore rules
/target/
/.idea/
/.mvn/
*.iml
*.class
*.log
*.jar

#Node.js/react ignore rules
/server/frontend/me-shop/node_modules/
/server/frontend/me-shop/node/
/server/frontend/me-shop/dist/
/server/frontend/me-shop/dist-ssr/
/server/frontend/me-shop/build/
/server/frontend/me-shop/.env
/server/frontend/me-shop/package-lock.json

#Custom files not to include
/.sdkmanrc

